.button-container {
  height: 15vh;
  line-height: 15vh;
  text-align: center;
}

.btn-success {
  margin: auto;
  align-self: center;
  border-radius: 0px !important;
  font-size: 2em;
  font-family: Baloo Da;
}
